<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




<div th:replace="~{fragments/hqLayout::hqLayout(~{this::header},~{this::body})}"></div>

<div th:fragment="header">
    <p>상품폐기</p>
    <p>폐기 대상 상품을 관리합니다.</p>
</div>
<div th:fragment="body">
    <p>폐기 대상 상품</p>
  <table class="list">
    <thead>
    <tr>
      <th>상품명</th> <th>카테고리</th> <th>수량</th> <th>등록일</th><th>폐기</th>
    </tr>

    <tr th:each="discard:${discardlist}">
      <td th:text="${productName}"></td>
      <td th:text="${coategoryName}"></td>
      <td th:text="${hqQuantity}"></td>
      <td th:text="${inboundDate}"></td>
      <td><a th:herf="@{/delect/}">폐기</a></td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${discardlist == null or discardlist.isEmpty()}">
      <td colspan="5">
        등록된 상품이 없습니다.
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function (){
    $('.menu-group-title a') .click(function (e){
      e.preventDefault();
      var url = $(this).attr('href');
      $('.main-content').load(url + ' .main-content');
    });
  });
</script>

</div>


</html>