<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mail.html</title>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <div class="layout">
        <nav class="sidebar">
            <div class="sidebar-title">편의점 시스템<br>본사</div>
            <ul class="menu-group-title">
            <li><a th:href="@{/main}">메인</a></li>
            <li><a th:href="@{/board/goods}">상품관리</a></li>
            <li><a th:href="@{/}">입출고 관리</a></li>
            <li><a th:href="@{/board/notgoods}">상품폐기</a></li>
            <li><a th:href="@{/}">재고현황</a></li>
            <li><a th:href="@{/board/store}">가맹점관리</a></li>
            <li><a th:href="@{/}">이력/통계></a></li>
            </ul>
            <div class="logout-area">
                <a th:href="@{/}">로그아웃</a>
            </div>
        </nav>
        <main class="main-content">
        <div class="summary-grid">
            <div class="btn">
                <p><a th:href="@{/}">가맹점 수</a></p>
            </div>
            <div class="btn">
                <p><a th:href="@{/}">총 매출</a></p>
            </div>
            <div class="btn">
                <p><a th:href="@{/}">총 재고</a></p>
            </div>

            <div class="btn">
                <p><a th:href="@{/}">주의상품</a></p>
            </div>
        </div>
        <div class="summary-card">
            <h2>알림</h2>
        </div>
        </main>

    </div>

</body>
</html>