<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.store.mapper.OwnerMapper">
    <insert id="OwnerInsert" parameterType="com.example.demo.store.dto.OwnerDto">
        insert into owner values(seq_owner.nextval,#{user_id},#{store_id},#{owner_name},#{owner_phone})
    </insert>
    <update id="OwnerUpdate" parameterType="StoreUpdateDto">
        update owner
        set owner_name = #{owner_name, jdbcType=VARCHAR},
        owner_phone = #{owner_phone, jdbcType=VARCHAR}
        where owner_id = #{owner_id, jdbcType=INTEGER}
    </update>

</mapper>