<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/hqLayout::hqLayout(~{this::header},~{this::body})}">
    <div th:fragment="header">
        <style>
            .error{
                color: red;
                font-size: 0.7em;
            }
        </style>
        <h2>가맹점 등록</h2>
        <p>새로운 가맹점을 등록합니다</p>
    </div>
    <div th:fragment="body">
        <form th:action="@{/store/insert}" method="post" id="storeForm">
            <div>
                <h3>가맹점 기본 정보</h3><hr><br>
                <spna>가맹점명</spna><br>
                <input type="text" id="store_name" name="store_name"><br>
                <span class="error" id="storeNameMsg"></span><br>
                <label>가맹점 상태</label><br>
                <select name="store_status" id="">
                    <option value="1" selected>활성</option>
                    <option value="0">비활성</option>
                </select><br>
                <span>수수료율</span><br>
                <input type="number" id="commission_rate" name="commission_rate" min="0" max="100" value="5" step="0.1" required>%<br>
                <span id="rateMsg" style="color: red; font-size: 0.7em "></span><br>
            </div>
            <div>
                <h3>점주정보</h3><hr><br>
                <span>점주명</span><br>
                <input type="text" id="owner_name" name="owner_name"><br>
                <span class="error" id="ownerNameMsg"></span><br>
                <span>점주 전화번호</span><br>
                <input type="text" id="owner_phone" name="owner_phone"><br>
                <span class="error" id="ownerPhoneMsg"></span><br>
            </div>
            <div>
                <h3>계정정보</h3><hr><br>
                <span>아이디</span><br>
                <input type="text" id="login_id" name="login_id">
                <button type="button" id="checkIdBtn">중복확인</button><br>
                <span class="error" id="loginIdMsg"></span><br>
                <span>비밀번호</span><br>
                <input type="password" id="password" name="password"><br>
                <span class="error" id="passwordMsg"></span><br>
                <span>권한</span><br>
                <input type="text" value="가맹점" readonly>
                <input type="hidden" value="1" name="role"><br>
            </div>
            <div>
              <input type="submit" value="등록">
              <button type="button" onclick="history.back()">취소</button>
            </div>
        </form>
        <script th:inline="javascript">
            const msg= /*[[${msg}]]*/ null;
            if(msg) {
                alert(msg);
                window.location.href="/store";
            }

            const form = document.getElementById("storeForm");

            const storeName=document.getElementById("store_name");
            const storeNameMsg=document.getElementById("storeNameMsg");

            const rateInput = document.getElementById("commission_rate");
            const rateMsg = document.getElementById("rateMsg");

            const ownerName=document.getElementById("owner_name");
            const ownerNameMsg=document.getElementById("ownerNameMsg");

            const ownerPhone=document.getElementById("owner_phone");
            const ownerPhoneMsg=document.getElementById("ownerPhoneMsg");

            const loginId=document.getElementById("login_id");
            const loginIdMsg=document.getElementById("loginIdMsg");

            const password=document.getElementById("password");
            const passwordMsg=document.getElementById("passwordMsg");

            let isIdChecked = false ;
            const checkIdBtn = document.getElementById("checkIdBtn");


            loginId.addEventListener("input",function () {
                isIdChecked=false;
                loginIdMsg.innerHTML="";
                checkIdBtn.disabled=false;
            })

            checkIdBtn.addEventListener("click", function () {
                if(loginId.value.trim()==="") {
                    loginIdMsg.innerHTML="아이디를 입력하세요";
                    isIdChecked=false;
                    return;
                }
                fetch(`/login/check-id?login_id=${loginId.value}`)
                    .then(resp=>resp.json())
                    .then(data=> {
                        if(data) {
                            loginIdMsg.innerHTML="사용 가능한 아이디입니다";
                            loginIdMsg.style.color="green";
                            isIdChecked=true;
                            checkIdBtn.disabled=true;
                        }else {
                            loginIdMsg.innerHTML="사용중인 아이디입니다";
                            isIdChecked=false;
                            checkIdBtn.disabled=false;
                        }
                    })
            })

            form.addEventListener("submit",function (e) {
                let isValid = true;

                if(storeName.value.trim()==="") {
                    storeNameMsg.innerHTML="가맹점 명을 입력하세요";
                    isValid = false;
                }else {
                    storeNameMsg.innerHTML="";
                }

                if(rateInput.value==="") {
                    rateMsg.innerHTML="수수료율을 입력하세요";
                    isValid=false;
                }else {
                    const rate = Number(rateInput.value);
                    if(rate < 0 || rate > 100) {
                        rateMsg.innerHTML="0~100 사이로 입력하세요"
                        isValid = false;
                    }else {
                        rateMsg.innerHTML="";
                    }
                }

                if(ownerName.value.trim()==="") {
                    ownerNameMsg.innerHTML="점주명을 입력하세요";
                    isValid=false;
                }else {
                    ownerNameMsg.innerHTML="";
                }

                if(ownerPhone.value.trim()==="") {
                    ownerPhoneMsg.innerHTML="점주 휴대폰 번호를 입력하세요";
                    isValid=false;
                }else {
                    ownerPhoneMsg.innerHTML=""
                }

                if(loginId.value.trim()==="") {
                    loginIdMsg.innerHTML="아이디를 입력하세요";
                    isValid=false;
                }else if(!isIdChecked){
                    loginIdMsg.innerHTML="중복확인을 해주세요";
                    isValid=false;
                }else {
                    loginIdMsg.innerHTML="";
                }

                if(password.value==="") {
                    passwordMsg.innerHTML="비밀번호를 입력하세요";
                    isValid=false;
                }else {
                    passwordMsg.innerHTML="";
                }

                if(!isValid) {
                    e.preventDefault();
                }
            })
        </script>
    </div>
</th:block>
</html>