<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hqLayout(layoutHeader,layoutBody)">
    <head>
        <meta charset="UTF-8">
        <title>fragments/hqLayout.html</title>
        <link rel="stylesheet" th:href="@{/css/layout.css}">
    </head>
    <body>
    <div id="layoutWrap">
        <div id="sidebar">
            <p id="sidebarHeaderP1">편의점 시스템</p>
            <p id="sidebarHeaderP2">(본사)</p>
            <hr>
            <div id="sidebar-navigation">
                <ul class="sidebar-list">
                    <li class="sidebar-item"><a th:href="@{/test}">메인</a></li>
                    <li class="sidebar-item"><a th:href="@{/product/productManagement}">상품관리</a></li>
                    <li class="sidebar-item"><a th:href="@{/test}">입출고관리</a></li>
                    <li class="sidebar-item"><a th:href="@{/test}">상품폐기</a></li>
                    <li class="sidebar-item"><a th:href="@{/test}">재고현황</a></li>
                    <li class="sidebar-item"><a th:href="@{/store}">가맹점관리</a></li>
                    <li class="sidebar-item"><a th:href="@{/test}">이력/통계</a></li>
                </ul>
            </div>
            <a th:href="@{/test}" id="sidebarLogout">로그아웃</a>
        </div>
        <div id="layoutContent">
            <div id="layoutHeader">
                <div th:replace="${layoutHeader}"></div>
            </div>
            <div id="layoutBody">
                <div th:replace="${layoutBody}"></div>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>