<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/hqLayout::hqLayout(~{this::header},~{this::body})}">
    <div th:fragment="header">
        <h2>발주요청</h2>
        <p>본사 재고에서 상품을 선택하여 발주합니다</p>
    </div>
    <div th:fragment="body">
        <div>
            <div class="header">
                <h3>발주 수량 등록</h3><hr><br>
            </div>
            <div class="body">
                <table>
                    <tr>
                        <th>카테고리</th><th>상품명</th><th>본사 재고</th><th>개당가격</th><th>발주 수량</th>
                    </tr>
                    <tr th:each="product : ${list}">
                        <td th:text="${product.category_name}"></td>
                        <td th:text="${product.product_name}"></td>
                        <td th:text="${product.hq_quantity}"></td>
                        <td th:text="${product.hq_supply_price}"></td>
                        <td>
                            <input type="number" class="qty" min="0" th:data-product-id="${product.product_id}">
                            <button type="button" class="addBtn" th:data-product-id="${product.product_id}">등록</button>
                        </td>
                    </tr>
                </table>
            </div><br>
        </div>
        <div>
            <div class="header">
                <h3>등록한 발주</h3><hr><br>
                <button type="button">발주하기</button>
            </div>
            <div class="body">
                <table>
                    <tr>
                        <th>요청일</th><th>카테고리</th><th>상품명</th><th>수량</th><th>총가격</th><th>관리</th>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            document.querySelectorAll(".addBtn").forEach(button=>{
                button.addEventListener("click",function () {
                    const product_id=button.dataset.product_id;
                    fetch(`/branch/orders/add?product_id=${product_id}`)
                        .then(resp=>resp.json())
                        .then(data=>{

                        })


                })
            })
        </script>
    </div>
</th:block>
</html>