*{margin: 0; padding: 0;}
#layoutWrap{
    padding-top: 0.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
#sidebar{
    width: 15%;
    padding-top: 1.5em;
    background-color:oklch(0.99 0.003 85);
    position: relative;
}
#layoutContent{
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color:oklch(0.94 0.006 80);
}
#layoutHeader{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 2em;
    color:#595559 ;
}
#layoutBody{
    flex:1;
    overflow: auto;
    padding-left: 2em;
    color:#595559 ;
}
#sidebar-navigation .sidebar-list .sidebar-item{
    list-style: none;
    margin-top: 0.5em;
    padding-left: 1em;
}
#sidebar-navigation .sidebar-list .sidebar-item a{
    display: block;
    text-decoration: none;
    color:#595559 ;
    font-size: 0.9em;
}
#sidebarLogout{
    position: absolute;
    bottom: 1em;
    padding-left: 1em;
    text-decoration: none;
    color: #595559;
    font-size: 0.8em;
}
#sidebarHeaderP1, #sidebarHeaderP2{
    margin-left: 1em;
    color:#595559;
}
#sidebarHeaderP1{
    font-weight: bold;
}
#sidebarHeaderP2{
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.sidebar-item:hover{
    background-color: oklch(0.94 0.006 80);
    border-radius: 0.3em;
    transition: background-color 0.2s;
}
#sidebarLogout:hover{
    color: black;
}
