*{margin: 0; padding: 0;}
#wrap{
    padding-top: 0.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
#hq{
    width: 15%;
    padding-top: 1.5em;
    background-color:oklch(0.99 0.003 85);
    position: relative;
}
#content{
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color:oklch(0.94 0.006 80);
}
#header{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 2em;
    color:#595559 ;
}
#body{
    flex:1;
    overflow: auto;
    padding-left: 2em;
    color:#595559 ;
}
ul li{
    list-style: none;
    margin-top: 0.5em;
    padding-left: 1em;
}
#logout{
    position: absolute;
    bottom: 1em;
    padding-left: 1em;
}
a{
    text-decoration: none;
    color: #595559;
    font-size: 0.8em;
}
#p1, #p2{
    margin-left: 1em;
    color:#595559;
}
#p1{
    font-weight: bold;
}
#p2{
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
ul li:hover{
    background-color: oklch(0.94 0.006 80);
    border-radius: 0.3em;
    transition: background-color 0.2s;
}
#logout:hover{
    color: black;
}