:root{
    /*color*/
    --primary: #ece8d5;
    --primary-hover: #dfd8a9;
    --surface: #e6dcdc;

    --bg: #f7f6f2;
    --bg-main: #dcc899;
    --bg-card: #d15e5e;
    --bg-input: #cdbfab;

    /*텍스트- 여기서 muted 덜중요하다 의미*/

    --text-main:#322b2b;
    --text-muted: #777;
    --text-inverse: #938080;
    --danger: #c94a4a;  /*삭제, 취소 비활성, 에러메세지 에서 쓰인다*/

    /*border*/
    --border-width: 2px;
    --border-style:solid;
    --border-color: #b1aaa2;
    --border-default: var(--border-width) var(--border-style) var(--border-color);

    /* 스페이싱 (4의 배수 시스템 - 가장 흔하고 추천) : 여백 간격*/
    --spacing-1:4px;
    --spacing-2:8px;
    --spacing-3:16px;
    --spacing-4:24px;
    --spacing-5:32px;

    /*라운딩*/
    --radius:8px;
    --radius-sm:4px;
    --radius-lg:12px;
    --radius-full:99999px;

    /*쉐도우*/
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.06);
    --shadow-md: 0 4px 10px rgba(0,0,0,0.08);
    /*f폰트*/
    --font-base: 'Pretendard',sans-serif;
    --font-sm:13px;
    --font-md:14px;
    --font-lg:16px;
    --font-xg:20px;
}



/* --- 2. Reset (초기화) --- */
*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
img{max-width: 100%; display:block;}
button{background: none; border: none;}


/* --- 3. Typography (글꼴 및 텍스트) --- */

/*@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');*/
@font-face {
    font-family: 'ChangwonDangamRounded';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ChangwonDangamRound-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root{
    --font-base: 'ChangwonDangamRounded','Segoe UI', Roboto, sans-serif;
    --font-heading:'ChangwonDangamRounded',sans-serif;

}

body {
    font-family: var(--font-base);
    font-size: var(--font-md);
    color: var(--text-main);
}

h1,h2,h3,h4,h5 {font-family: var(--font-heading); font-weight: 700;
}

